# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
datasets

# Logs
*logs/
*wandb/
outputs/
# huggingface models
*results/

# Virtual environment
venv/

# Compiled files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Windows
Thumbs.db

*config.yml

# egg-info
*.egg-info/

# log files
*.log

# vscode
.vscode/

file_list.txt
sed_eval
results.yaml