# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
datasets

# Logs
*logs/
outputs/

# Virtual environment
venv/

# Compiled files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Windows
Thumbs.db

# tools
tools/

*config.yml